.form input {
    display: block;
}

.form .danger {
    border-color: #FF0000;
    color: #FF0000;
}

body {
    display: flex;
    flex-direction: column;
}

.login {
    border: 1px rgba(77, 77, 77, 77) solid;
    flex-wrap: wrap;
    display: inline-flex;
    align-items: center;
}

.login * {
 
}
.login h2 {
    margin-right: 3em;
}

#logout_btn {
    background-color: #00FF00;
}

#topbar_tools {
    list-style: none;
    flex-grow: 1;
}

#topbar_tools li {
    display: inline-block;
    margin: 2px;
}
